<div class="show-movie">
    <h1 class="movie-title"> {{ movie.attributes.title }} </h1>
    <div class="movie-intro"> {{{ markdown movie.attributes.intro }}} </div>
    {{#if movie.attributes.image }}
    <img class="movie-img" alt="{{ movie.attributes.title }}" src="{{ movie.attributes.image.url }}">
    {{/if }}
</div>