<section>
    <h1>Filmer</h1>
<ul>
    {{#each movies }}
    <li>
    <a href="/movies/{{ this.id }}" aria-label="{{ this.attributes.title }}">{{ this.attributes.title }}</a>
    </li>
    {{/each}}
</ul>
</section>